:root{
    --sidebar : 350px;
    --header-height: 80px;
    --message-height:80px;
}

body{
    padding:0;
    margin:0;
    background-color: whitesmoke;
}
#sidebar{
    background-color: white;
    width: var(--sidebar);
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    border-right: 3px solid lightgrey;
    z-index:1;
    transition: 0.8s;
    overflow: hidden;
  
}
#header{
    width:100%;
    position:fixed;
    top:0;
    left:var(--sidebar);
    height:var(--header-height);
    background-color: white;
    box-shadow: 6px 6px 6px lightgray;
    transition: 0.8s;
}
#main{

    position: absolute;
    left:calc(var(--sidebar) + 20px);
    top:calc(var(--header-height) + 40px);
    z-index:-1;
    display:flex;
    flex-wrap: wrap;
    transition: 0.8s;

}
#sidebarlogo{
    margin-top:20px;
}
.togglebutton{
    text-decoration: none;
    color:black;
}
ul{
    margin:0;
    padding:0;
    list-style-type: none;
    font-size: 18px;
    position: relative;
    top:30px;
}
li{
    margin-left: 30px;
}
hr{
    height: 2px;
    border: 0;
    background-color: lightgrey;
}
#horizontalModule{
    text-decoration: none;
    font-size:20px;
    position: relative;
    top:20px;
    color:black;
}
#horizontalModule:hover{
    color:black;
    text-decoration:none;
}
#mainDiv{
    background-color: white;
    width:450px;
    padding:20px;
    border-radius:20px; 
    display:flex; 
    flex-wrap:wrap; 
    justify-content:center;
    margin-right:50px;
    margin-bottom:40px;
}
#mains{
    
    position: absolute;
    left:calc(var(--sidebar) + 20px);
    top:calc(var(--header-height) + 20px);
    z-index:-1;
    display:flex;
    flex-direction: column;
    transition: 0.8s;
}
 
