<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not Found</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" >
</head>
<style>
.background { 
    background: radial-gradient(circle, rgba(255, 0, 0, 0.5074404761904762) 0%, rgba(15, 28, 112, 1) 100%);
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}
#mainDiv {
    background: rgb(255 255 255 / 80%);
    padding: 25px;
    position: absolute;
    min-width: 600px;
    max-width: 500px;
    min-height: 500px;
    height: 500px;
    top: calc(50% - 250px);
    left: calc(50% - 300px);
    border-radius: 10px;
}
</style>
<body>
<canvas class="background" width="1389" height="953" style="width: 100%; height: 100%;"></canvas>
    <div id="mainDiv">
    <img src="../images/logo-nmims-prod.png" alt="" width="15%" id="nmimsLogo">
   
    <h1 style="margin-top: 27%; margin-left: 15%;">404 Page Not Found!</h1>
     <button onclick="redirect()" class="btn btn-primary" style="margin-left: 37%; margin-top: 10%;">Back to Home</button>   
     
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
<script>

    window.onload = function () {

        Particles.init({
            selector: '.background',
            connectParticles: false,
            color: '#ffffff'
        });
        };

    function redirect() {
        window.location.href = "/elective/loginPage";
    }
</script>
</html>