<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <%- include ('../partials/partial') %>
    <title>Programs</title>
    
    <style>
      body{
        background-color: whitesmoke;
      }  
    </style>

</head>
<body>
    <%- include('sidebar.ejs') %>
    <%- include('header.ejs')  %>
    <div id="main" class="container">
      <h3 style="position: relative;left:25%;">------------------------------ Internal Server Error -----------------------------</h3>
    </div>
</body>

<%- include ('../partials/partial2') %>
<script src= "../js/script.js" ></script>
</html>