
<div class="modal fade" id="deleteSuccessModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" data-backdrop="false" style="background-color: rgba(0, 0, 0, 0.3);" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered setModal modal-md" role="document">
  <div class="modal-content">
    <div class="modal-header">
      </button>
    </div>
    <div id="deleteModal" class="modal-body">
      <div>
        <h4 id='deleteSuccess' style="text-align:center;">Course</h4>
        </div>
    </div>
    <div class="modal-footer modalFooter">
      <button id='DeletebtnValue' type="button" data-toggle="modal" data-target="#deleteSuccessModal" hidden></button>
      <button type="button" class="btn btn-danger SuccessModal" data-toggle="modal" data-dismiss="modal">Ok</button>
    </div>
  </div>
</div>
</div>