<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" data-backdrop="false"
style="background-color: rgba(0, 0, 0, 0.3);" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered setModal modal-md" role="document">
  <div class="modal-content">
    <div class="modal-header">
      </button>
    </div>
    <div id="successModal" class="modal-body">

    </div>
    <div class="modal-footer modalFooter">
      <button type="button" data-toggle="modal" data-target="#exampleModal" hidden></button>
      <button type="button" class="btn btn-danger okModal" data-dismiss="modal">Ok</button>
    </div>
  </div>
</div>
</div>