<style>
  .sidebutton{
  position: relative;
  top:15px;
  left:10px;
  width:5%;
  background:white;
  padding:0;
  border:0;
  }
  .sidebutton:focus{
    outline: none;
  }
  .profilediv{
  display: flex;
  position: fixed;
  left:73%;
  top:10px;
  box-sizing: border-box;
  }
  .profiledropdown{
      position: relative;
      top:15px;
      padding-left: 150px;
  }
  .roleName{
      font-size: 18px;
      position: relative;
      top:15px;
      left:10px;
      color:red;
  }
  .imagelogo{
      position:relative;
      top:10px;
  }
  #dropdownMenuLink:hover {
    color: black;
  }
  </style>
  <%- include('messageModal.ejs') %>
  <div id="header">
  
      <div class="headersection" style="display:flex;align-items: center;">
      <button id="sidebuttonid" class="sidebutton" ><img src= "../images/left.png" width="25%;"/></button> 
  
  <div class="profilediv">
  <img class="imagelogo" src="../images/admin.png" width="8%;" height="100%"/>
  <p class="roleName"><%= module[0].username %></p>
  
  <div class="dropdown show profiledropdown">
      <a style="text-decoration: none;" class= "dropdown-toggle togglebutton" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <% if(module[0].role_name === 'Role_Admin') { %>
        <img src="../images/user1.png" > Hii Admin!</img>
        <% }else{ %>
          <img src="../images/user1.png" > Hii User!</img>
        <% } %>  
      </a>
    
      <div style="position:relative;top:10%;" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="<%- BASE_URL %>elective/viewProfile"><i class="fa-solid fa-user"></i>&nbsp;View Profile</a>
        <a class="dropdown-item" href="<%- BASE_URL %>elective/logout"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;Logout</a>
      </div>
    </div>
    </div>
  
  </div>
  </div>
  
  
    