<!DOCTYPE html>
<html lang="en">
<head>
   <%- include ('../partials/partial') %>
    <title>Login Page</title>

<style>
   body{
      background-color: whitesmoke;
      padding:0;
      margin:0;
   }
 .maindiv{
   display:flex;
   justify-content: center;
   margin-top:130px;
   box-sizing: border-box;
   width:100vw;
  }
 .innerdiv{
    background-color: white;
    box-shadow:0 0 10px lightgrey;
    border-radius:20px;
    padding:20px;
    overflow: hidden;
    position: fixed;
  }
 input{
    border:0;
    border-bottom: solid black 2px;
   width:100%;
 }
 input:focus{
   outline: none;
 }
 h1{
font-family: 'Lilita One', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
position: absolute;
top:20px;
 }
 i{
    font-size:20px;
    padding-right:10px;
 }
 a{
font-family: 'Lilita One', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; 
 }
 #commonDisplayMessage{
   
  justify-content: center;
  display:flex;
  box-shadow: 0px 0px 6px 1px red;
  font-weight:bold;
  visibility: hidden;

 }
 span{
  font-size:20px;
  font-family: 'Lilita One', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  text-align:center;
  padding:5px;
  color:red;
  font-weight:bold;
  width:100%;
 }
 #closebutton{
  color:red;
  background-color: whitesmoke;
  margin-right:20px;
  border:0;
 }
 #closebutton:focus{
  outline: none;
 }
#passIcon{
  font-size: 15px;
  cursor:pointer;
}

</style>   

</head>
<body>

  <div id="commonDisplayMessage">
    <span id="showMessage"></span> 
   <button class="fa fa-close closeBtn" id= "closebutton" style="font-size:24px" ></button>
  </div>
  </div>

   <div class="row maindiv">
   <div style="display:flex;" class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 innerdiv">
   
   <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8" >
     <img style= "position: relative;width:25%; left:10px; padding-bottom:20px;" src="../images/logo-nmims-prod.png"/></br>
     <img style= "position: relative;width:80%; left:10px;"  src="../images/login-animate-nmims.svg" />
   </div>
   
   <div style="position:relative;right:60px;" class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8" >
   <h2 style="margin-left:50px; margin-top: 15px;">Welcome</h2>
  
   <div style="margin-top:15%;" class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8" >
   

   <i class="fi fi-rr-user" ></i><input name="username" id="user" style="margin-bottom:40px;width:66%;" placeholder="LoginId" type="text"/></br>

   <i class="fi fi-rr-lock" ></i><input name="password" id="pass" placeholder="Password" type="password" style="width:66%;"/>
   <i class="fa-solid fa-eye" id="passIcon"></i></br>

   <a href="#"  data-toggle="modal" data-target="#passwordModal" style="position:absolute; right:25%; font-size:18px; color:red; width:20%; text-decoration:none;" id="forgotPass" >Forgot?</a>

   <button style="padding:5px; margin-top: 80px; font-weight:bold; border:0; border-radius:10px; background-color: red; color:white;position: relative; width:70%; left:20px; top:10px; outline: none;" id="login" type="submit" >Login</button>
     
     </div>

   </div>
 </div>
</div>

<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="passwordModalLabel">Reset Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Enter the Username</h5>&nbsp;
        <input id="inputUser" type="text" class="form-control" placeholder="Username" />
        <hr>
        <div id="submitBtn">
        <buttton id="submitUser" class="btn btn-primary float-right">Submit</buttton>
        </div>
      </div>
    </div>
  </div>
</div>
   
</body>
<%- include ('../partials/partial2') %>
<script src= "../js/script.js" ></script>
<script>

    //For Enter Button for Login
    document.getElementById('pass').addEventListener('keypress', function(event) {
      if (event.key === 'Enter'){
       
        let username = document.getElementById('user').value;
        let password = document.getElementById('pass').value;
     
        let obj = {username , password};

        dynamicFetchApi(`<%- BASE_URL %>elective/login`,'POST',obj)
        .then(responseData => {
        if(responseData.status === 'Error'){
         window.location.href=`${responseData.redirectTo}`;
        }else{

        if(responseData.status === 'success'){
        window.location.href = responseData.redirectTo;
        }else{
        let displayMessage = document.getElementById('commonDisplayMessage');
        let showMessage = document.getElementById('showMessage');
        let message = responseData.message;

        showMessage.innerText = message;
      
        displayMessage.style.color = 'red';
        displayMessage.style.visibility = 'visible';

        } 
      } 
      });
      }
    });

    document.getElementById('login').addEventListener('click',async () => {
     let username = document.getElementById('user').value;
     let password = document.getElementById('pass').value;
     
     let obj = {username , password};

     dynamicFetchApi(`<%- BASE_URL %>elective/login`,'POST',obj)
     .then(responseData => {
        if(responseData.status === 'Error'){
         window.location.href=`${responseData.redirectTo}`;
        }else{

        if(responseData.status === 'success'){
        window.location.href = responseData.redirectTo;
        }else{
        let displayMessage = document.getElementById('commonDisplayMessage');
        let showMessage = document.getElementById('showMessage');
        let message = responseData.message;

        showMessage.innerText = message;
        
        displayMessage.style.color = 'red';
        displayMessage.style.visibility = 'visible';

        }
        } 
        });

    });

    document.getElementById('submitUser').addEventListener('click',() => {
     let username = document.getElementById('inputUser').value;
     let obj = {username};

     dynamicFetchApi('/elective/checkUsernameForOtp','POST',obj)
     .then(response => {
      console.log(response);
     })
    });

    errormessage();
    
    //Displaying Error Message
    async function errormessage(){
    let displayMessage = document.getElementById('commonDisplayMessage');

    if(window.location.hash === '#sessionTimeout'){
      let message = `Oops Session Timeout, Please Login Again!!`;

      let showMessage = document.getElementById('showMessage');
        showMessage.innerText = message;

      displayMessage.style.color = 'red';
      displayMessage.style.visibility = "visible";
     
    }
    }

    document.getElementById('closebutton').addEventListener('click',() =>{

    let displayMessage = document.getElementById('commonDisplayMessage');
    let path = window.location.pathname;
    window.location.href = path
    displayMessage.style.visibility = "hidden";

  
    })

    document.getElementById('passIcon').addEventListener('click', () =>{
      console.log('Icon clicked');

      let passwordIcon = document.getElementById('passIcon');
      let passInput = document.getElementById('pass');

      if (passwordIcon.classList.contains('fa-eye')) {
        passInput.setAttribute('type', 'text');
        passwordIcon.classList.remove('fa-eye');
        passwordIcon.classList.add('fa-eye-slash');
      } else {
        passInput.setAttribute('type', 'password');
        passwordIcon.classList.remove('fa-eye-slash');
        passwordIcon.classList.add('fa-eye');
      }
    });

</script>
</html>