<h4 id="noDataMessage" style="display: none; margin: auto;">No Records Found!</h4> 

<div id="paginationBtns" style="margin-left: 64%; display: flex;">
<button id="prevBtn" class="d-none btn btn-danger mr-2" style="margin-bottom: 35px;">Previous</button>

<div id="pagination" style="margin-top: 9px;"></div>

<button id="nextBtn" class="d-none btn btn-danger" style="margin-bottom: 35px;">Next</button>
</div>