<div style="display: flex; white-space: nowrap; margin-top: 20px; align-items: center;" id="selectDropdown">
    <label for="changeEntry" >Showing:</label>
        <select id="changeEntry" class="form-control ml-1">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="<%=dataRows %>">All</option>
        </select>&nbsp; Entries
  </div>
  
  <div style="display: flex; margin-left: 66%; margin-top: 20px;">
    <input type="search" class="form-control" id="searchKeyword" placeholder="Search..."/>
    <button id="searchBtn" class="btn btn-outline-success ml-1" style="height: 38px;">Search</button>
  </div>
  
  