<script>
document.addEventListener('click',(e) => {

if(e.target.classList.contains('submitUser')){

  let username = document.getElementById('inputUser').value;
 console.log('username ',username)
 let obj = {username:username};

 dynamicFetchApi('<%- BASE_URL %>elective/checkUsernameForOtp', 'POST', obj)
    .then(response => {
      if (response.status === 'error') {
        window.location.href = `${response.redirectTo}`;
      } else {

        if (response.message != undefined) {
          let errMessage = document.getElementById('unameError');
          errMessage.innerText = response.message;
        } else {
          let body = document.getElementById('mainBody');
          let otpInput = `<div><h6>Enter the Otp</h6><p style="color:red;" class="otpError"></p>
    <input type="text" class="form-control inputOtp" placeholder="Otp" /></div>&ensp;`;

          body.insertAdjacentHTML('beforeEnd', otpInput);
          
          let submitBtn = document.getElementById('submitBtn');
          submitBtn.innerHTML = '';
          submitBtn.innerHTML = `<buttton class="submitPass btn btn-primary float-right">Submit</buttton>`;
        }

      }
 })
}

 if(e.target.classList.contains('submitPass')){

  let closestDiv = $(e.target).closest('div').prev();
  let prevDiv =  $(closestDiv)[0].previousElementSibling;

  let username = prevDiv.querySelector('#inputUser').value;
  let otp = prevDiv.querySelector('.inputOtp').value;
  let otpError =prevDiv.querySelector('.otpError');
  let val;

  if (otp.length > 0) {
      let otpValidation = NumberValidation(otp);
      if (otpValidation) {
        otpError.innerText = '';
        val = true;
      } else {
        otpError.innerText = '*Invalid Input';
        val = false;
      }

    } else {
      otpError.innerText = '*Required';
      val = false;
    }

    if (val) {

      let obj = { username, otp };
      dynamicFetchApi('<%- BASE_URL %>elective/checkOtpFromUser', 'POST', obj)
        .then(response => {
          if (response.status === 'error') {
            window.location.href = `${response.redirectTo}`;
          } else {
            if (response.otpStatus == false) {
              otpError.innerText = response.message;
            }  
              if (response.otpStatus == true) {
            
                if (response.message[0].otp_status === 'Valid') {

                  let body = document.getElementById('mainBody');
                  let passInput = `<div><h6>Enter New Password</h6>
                <input type="password" class="form-control inputPass" placeholder="Password" /></div>&nbsp;`;

                  body.insertAdjacentHTML('beforeEnd', passInput);

                  let submitBtn = document.getElementById('submitBtn');
                  submitBtn.innerHTML = '';
                  submitBtn.innerHTML = `<buttton class="submitReset btn btn-primary float-right" data-dismiss="modal">Submit</buttton>`;
               
                  console.log("check otp status ",response.message[0].otp_status)
                } else {
                  otpError.innerText = response.message[0].otp_status;
                }
              }
          
            }
          })
          }
        }

      if(e.target.classList.contains('submitReset')){
      let username = document.getElementById('inputUser').value;
      let closestDiv = $(e.target).closest('div').prev();
      let prevDiv =  $(closestDiv)[0].previousElementSibling;

      let otp = prevDiv.querySelector('.inputOtp').value;
      let password = prevDiv.querySelector('.inputPass').value;

      let obj = {username,otp,password};
      dynamicFetchApi('<%- BASE_URL %>elective/resetPass','POST',obj)
      .then(response => {
        if(response.status === 'error'){
          window.location.href=`${response.redirectTo}`; 
        }else{

          let modalBody = document.getElementById('msgModal');
          let modalPage = `<div><h4 style="text-align:center;">${response.message}</h4></div>`
          modalBody.innerHTML = modalPage;
          document.querySelector('[data-target="#messageModal"]').click();
        } 

      })
      }

      if(e.target.classList.contains('messageOkModal')){ 
        let username =  document.getElementById('inputUser');
        username.value = '';

        let body = document.getElementById('mainBody');
        body.removeChild(body.lastElementChild);
        body.removeChild(body.lastElementChild);
      }
})







</script>